body{
	background:url('/10402419_10152650047326837_8492336144929512183_n-680x388.jpg');
	background-repeat: no-repeat; 
	background-position: center center; 
	background-size: cover;
}

.container-position{
	padding-top:50px;	
	padding-bottom: 50px;
}

.formwrapper{
	background:#fff;
	padding:15px;
}

.fullwidth{
	width:100%;
}