body {background-color: antiquewhite}
h4 {color: gray}
label { margin-left: 15px; margin-bottom: 1.5rem;}
input {margin-left: 40px; border-radius: .25rem;}
textarea {margin-left: 7px; border-radius: .25rem;}

.center { text-align: center}
.margin {margin-left: 100px}
.size {font-size: 10px}
.borderrad {border-radius: .25rem;}
